Repository osl-incubator/makim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, mypy, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: ruff-format
      name: ruff-format
      entry: ruff format
      exclude: |
        (?x)(
          docs
        )
      language: system
      pass_filenames: true
      types:
        - python

    - id: ruff-linter
      name: ruff-linter
      entry: ruff check
      language: system
      exclude: "docs/"
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: "makim/"
      pass_filenames: true
      types:
        - python

    - id: bandit
      name: bandit
      entry: bandit
      language: system
      args: ['--configfile', 'pyproject.toml']
      pass_filenames: true
      types:
        - python

    - id: vulture
      name: vulture
      entry: vulture --min-confidence 80
      language: system
      files: "makim/"
      description: Find unused Python code.
      pass_filenames: true
      types:
        - python

Notes added by 'git notes add'
  e67b6a700ddc83a8f53b1a44848ad2949d989f30
Due: none

deploy: 703719594d93bbc19d440b17785d917220e02b4c
  changelog/changelog.md
  changelog/index.html
  contributing/contributing.md
  contributing/index.html
  features/features.md
  features/index.html
  images/site.webmanifest
  index.html
  index.md
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  template/template.md
Due: none

Update contributing.md
  docs/contributing.md
Due: none

feat: Improve the definition of shell app.
  poetry.lock
  pyproject.toml
  src/makim/__init__.py
  src/makim/__main__.py
  src/makim/cli.py
  src/makim/console.py
  src/makim/core.py
  src/makim/logs.py
  tests/smoke/.makim-interpreters.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix linter issues
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, bandit

fix test issues
  src/makim/core.py
  tests/smoke/.makim-interpreters.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix unittests
  src/makim/core.py
  tests/smoke/.makim-unittest.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

prepare changes for the blog post
  .makim.yaml
  poetry.lock
  pyproject.toml
Due: none

feat: Improve the configuration for the shell app. (#100)
  .makim.yaml
  poetry.lock
  pyproject.toml
  src/makim/__init__.py
  src/makim/__main__.py
  src/makim/cli.py
  src/makim/console.py
  src/makim/core.py
  src/makim/logs.py
  tests/smoke/.makim-interpreters.yaml
  tests/smoke/.makim-unittest.yaml
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

chore(release): 1.15.0
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  0541f7d75cca02340902b9d9c904977699d7be44
Due: none

deploy: 16479142b9b42460b65e508ab4b9280ab90ef83e
  404.html
  assets/javascripts/bundle.bd41221c.min.js
  assets/javascripts/bundle.bd41221c.min.js.map
  assets/javascripts/bundle.caa56a14.min.js
  assets/javascripts/bundle.caa56a14.min.js.map
  assets/stylesheets/main.7e359304.min.css
  assets/stylesheets/main.7e359304.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  changelog/changelog.md
  changelog/index.html
  contributing/contributing.md
  contributing/index.html
  features/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  xonsh/index.html
Due: none

remove the pre build doc target
  .github/workflows/docs.yaml
  .makim.yaml
  docs/scripts/clean-output.py
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  docs/tutorials/makim-for-nox-users/.makim.yaml
  docs/tutorials/makim-for-nox-users/index.ipynb
  docs/tutorials/makim-for-nox-users/noxfile.py
  mkdocs.yaml
Due: bandit

docs: Add tutorials (#101)
  .github/workflows/docs.yaml
  .makim.yaml
  docs/scripts/clean-output.py
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  docs/tutorials/makim-for-nox-users/.makim.yaml
  docs/tutorials/makim-for-nox-users/index.ipynb
  docs/tutorials/makim-for-nox-users/noxfile.py
  mkdocs.yaml
Due: bandit

deploy: d13294611e210f391f50c6aa5590b9cf73aec081
  404.html
  changelog/index.html
  contributing/index.html
  features/index.html
  index.html
  installation/index.html
  scripts/clean-output.py
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  tutorials/introduction/index.html
  tutorials/introduction/index.ipynb
  tutorials/makim-for-nox-users/index.html
  tutorials/makim-for-nox-users/index.ipynb
  tutorials/makim-for-nox-users/noxfile.py
  xonsh/index.html
Due: ruff-format, ruff-linter, bandit

refactor: Rename target to task
  .makim.yaml
  README.md
  docs/features.md
  docs/template.md
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  docs/tutorials/makim-for-nox-users/.makim.yaml
  docs/tutorials/makim-for-nox-users/index.ipynb
  src/makim/cli.py
  src/makim/core.py
  tests/smoke/.makim-bash-group-scope.yaml
  tests/smoke/.makim-bash-main-scope.yaml
  tests/smoke/.makim-bash-target-scope.yaml
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-interpreters.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-sugar.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-vars.yaml
  tests/smoke/.makim-virtual-env.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

refactor: Rename target to task
  .gitignore
  .makim.yaml
  README.md
  docs/changelog.md
  docs/template.md
  src/makim/cli.py
  src/makim/core.py
  tests/smoke/.env-task
  tests/smoke/.makim-bash-task-scope.yaml
  tests/smoke/.makim-vars.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

rollback changes in the .gitignore
  .gitignore
Due: none

refactor: Rename target to task (#103)
  .makim.yaml
  README.md
  docs/changelog.md
  docs/features.md
  docs/template.md
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  docs/tutorials/makim-for-nox-users/.makim.yaml
  docs/tutorials/makim-for-nox-users/index.ipynb
  src/makim/cli.py
  src/makim/core.py
  tests/smoke/.env-task
  tests/smoke/.makim-bash-group-scope.yaml
  tests/smoke/.makim-bash-main-scope.yaml
  tests/smoke/.makim-bash-task-scope.yaml
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-interpreters.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-sugar.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-vars.yaml
  tests/smoke/.makim-virtual-env.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

refactor: Rename working-directory to dir
  .github/workflows/main.yaml
  .makim.yaml
  docs/changelog.md
  docs/features.md
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  src/makim/core.py
  tests/smoke/.makim-dir-absolute-path.yaml
  tests/smoke/.makim-dir-no-path.yaml
  tests/smoke/.makim-dir-relative-path.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

refactor: Rename working-directory to dir (#104)
  .github/workflows/main.yaml
  .makim.yaml
  docs/changelog.md
  docs/features.md
  docs/tutorials/introduction/.makim.yaml
  docs/tutorials/introduction/index.ipynb
  src/makim/core.py
  tests/smoke/.makim-dir-absolute-path.yaml
  tests/smoke/.makim-dir-no-path.yaml
  tests/smoke/.makim-dir-relative-path.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

docs: Update mkdocs-jupyter and fix the switch toggle for notebooks
  poetry.lock
  pyproject.toml
Due: none

change the way to pin python with conda on ci
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  conda/dev.yaml
Due: none

skip tests for macos for working directory
  .github/workflows/main.yaml
Due: none

docs: Update mkdocs-jupyter and fix the switch toggle for notebooks (#105)
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

deploy: 302dcd61969e9f67d38beb2549bccc3c0c0e001b
  changelog/changelog.md
  changelog/index.html
  features/features.md
  features/index.html
  index.html
  index.md
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  template/template.md
  tutorials/introduction/index.html
  tutorials/introduction/index.ipynb
  tutorials/makim-for-nox-users/index.html
  tutorials/makim-for-nox-users/index.ipynb
Due: none

deploy: 302dcd61969e9f67d38beb2549bccc3c0c0e001b
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix issues with python version on CI
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
Due: none

fix: Fix issues with python version on CI (#107)
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
Due: none

chore(release): 1.15.1
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  8154bcadff43448ca655099f821b113527f49a4a
Due: none

deploy: 35fd405fd1406f5396d25f3f2629a72da8741cc5
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Change rich lower bound pin to >=10.11.0
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  poetry.lock
  pyproject.toml
Due: none

fix small issues
  .github/workflows/main.yaml
  .makim.yaml
Due: none

fix clean.tmp
  .makim.yaml
Due: none

improve doc workflow
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
Due: none

fix python version
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  conda/release.yaml
Due: none

fix: Change rich lower bound pin to >=10.11.0 (#108)
  .github/workflows/docs.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  conda/release.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(release): 1.15.2
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  3fd8d4219f2101eb8fbaa4d2a0cbd1fb6f0881fe
Due: none
