Repository osl-incubator/makim: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, mypy, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: ruff-format
      name: ruff-format
      entry: ruff format
      exclude: |
        (?x)(
          docs
        )
      language: system
      pass_filenames: true
      types:
        - python

    - id: ruff-linter
      name: ruff-linter
      entry: ruff check
      language: system
      exclude: "docs/"
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: "makim/"
      pass_filenames: true
      types:
        - python

    - id: bandit
      name: bandit
      entry: bandit
      language: system
      args: ['--configfile', 'pyproject.toml']
      pass_filenames: true
      types:
        - python

    - id: vulture
      name: vulture
      entry: vulture --min-confidence 80
      language: system
      files: "makim/"
      description: Find unused Python code.
      pass_filenames: true
      types:
        - python

deploy: cbc05aaa70a080d7cf42e1bbbfd1d092deddb1f0
  404.html
  assets/javascripts/bundle.7389ff0e.min.js
  assets/javascripts/bundle.7389ff0e.min.js.map
  assets/javascripts/bundle.e1c3ead8.min.js
  assets/javascripts/bundle.e1c3ead8.min.js.map
  assets/javascripts/workers/search.b8dbb3d2.min.js
  assets/javascripts/workers/search.b8dbb3d2.min.js.map
  assets/javascripts/workers/search.c011b7c0.min.js.map
  changelog/changelog.md
  changelog/index.html
  contributing/index.html
  features/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  xonsh/index.html
Due: none

chore(package): Add poetry.lock again to the repo
  .github/workflows/main.yaml
  .gitignore
  poetry.lock
Due: none

fix distlib issue
  conda/dev.yaml
  conda/release.yaml
Due: none

linter issues
  pyproject.toml
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

linter issues
  conda/dev.yaml
Due: none

chore(package): Add poetry.lock again to the repo (#92)
  .github/workflows/main.yaml
  .gitignore
  conda/dev.yaml
  conda/release.yaml
  poetry.lock
  pyproject.toml
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix: Fix error message when .makim.yaml is not found
  .makim.yaml
  poetry.lock
  pyproject.toml
  tests/.containers-sugar.yaml
  tests/.env
  tests/smoke/.env-group
  tests/smoke/.env-target
  tests/smoke/.makim-bash-group-scope.yaml
  tests/smoke/.makim-bash-main-scope.yaml
  tests/smoke/.makim-bash-target-scope.yaml
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-interpreters.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-sugar.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-virtual-env.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/smoke/.sugar.yaml
  tests/smoke/containers/compose.yaml
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, bandit

WIP documentation of features.
  docs/features.md
Due: none

fix: Improve auto completion and fix issues with config file
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  poetry.lock
  pyproject.toml
  src/makim/cli.py
  src/makim/console.py
  src/makim/core.py
  src/makim/errors.py
  src/makim/exceptions.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix small issues
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix installation step for macos
  .github/workflows/main.yaml
Due: none

fix issue on ci
  src/makim/console.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

add .env
  tests/smoke/.env
Due: none

fix unittest
  tests/test_failure.py
Due: ruff-format, ruff-linter, bandit

fix: Improve smoke test organization (#93)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  poetry.lock
  pyproject.toml
  src/makim/cli.py
  src/makim/console.py
  src/makim/core.py
  src/makim/errors.py
  src/makim/exceptions.py
  tests/.containers-sugar.yaml
  tests/smoke/.env
  tests/smoke/.env-group
  tests/smoke/.env-target
  tests/smoke/.makim-bash-group-scope.yaml
  tests/smoke/.makim-bash-main-scope.yaml
  tests/smoke/.makim-bash-target-scope.yaml
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-interpreters.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-sugar.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-virtual-env.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/smoke/.sugar.yaml
  tests/smoke/containers/compose.yaml
  tests/test_failure.py
  tests/test_success.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

chore(release): 1.12.1
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  0982f3b3171befe9f27b61a3eedfe87ab997f85c
Due: none

deploy: 5da10642141969549787a479cf8d0c3a77f04c74
  404.html
  assets/javascripts/bundle.caa56a14.min.js
  assets/javascripts/bundle.caa56a14.min.js.map
  assets/javascripts/bundle.e1c3ead8.min.js
  assets/javascripts/bundle.e1c3ead8.min.js.map
  assets/stylesheets/main.50c56a3b.min.css
  assets/stylesheets/main.50c56a3b.min.css.map
  assets/stylesheets/main.f2e4d321.min.css
  assets/stylesheets/main.f2e4d321.min.css.map
  changelog/changelog.md
  changelog/index.html
  contributing/index.html
  features/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  template/index.html
  xonsh/index.html
Due: none

fix: Remove usage of colorama
  src/makim/core.py
  src/makim/exceptions.py
  tests/test_failure.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix: Remove usage of colorama
  src/makim/logs.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix: Remove usage of colorama
  src/makim/core.py
  src/makim/logs.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

fix: Fix remove colorama (#94)
  src/makim/core.py
  src/makim/logs.py
  tests/test_failure.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

chore(release): 1.12.2
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  5f01b1e09e3e2dc3c0109c701764576cdb18a755
Due: none

deploy: 3f49a80b2b12913b548cedf4c59ca98c9e03f9ee
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Allow vars with complex types (list, dict)
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

add tests
  .github/workflows/main.yaml
  .makim.yaml
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

add tests
  tests/smoke/.makim-vars.yaml
Due: none

feat: Allow vars with complex types (list, dict) (#95)
  .github/workflows/main.yaml
  .makim.yaml
  src/makim/core.py
  tests/smoke/.makim-vars.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

chore(release): 1.13.0
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

Notes added by 'git notes add'
  08761b30c0edd2ec1ea0f13fc311d2fc0905332a
Due: none

deploy: 907680e92b0d74d57bd3924d8200b73c4e7aa1ed
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

docs: Update the contributing guide
  .prettierignore
  .prettierrc.yaml
  docs/contributing.md
Due: none

docs: Update the contributing guide (#96)
  .prettierignore
  .prettierrc.yaml
  docs/contributing.md
Due: none

feat: Change the default template tag delimitar
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  .pre-commit-config.yaml
  .prettierignore
  .releaserc.json
  CODE_OF_CONDUCT.md
  README.md
  conda/dev.yaml
  conda/release.yaml
  docs/features.md
  docs/images/site.webmanifest
  docs/template.md
  src/makim/core.py
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-vars.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/smoke/containers/compose.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

refactor
  src/makim/core.py
  tests/test_failure.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

skip bandit alert B701
  pyproject.toml
  src/makim/core.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture

feat: Change the default template tag delimiter (#97)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .makim.yaml
  .pre-commit-config.yaml
  .prettierignore
  .releaserc.json
  CODE_OF_CONDUCT.md
  README.md
  conda/dev.yaml
  conda/release.yaml
  docs/features.md
  docs/images/site.webmanifest
  docs/template.md
  pyproject.toml
  src/makim/core.py
  tests/smoke/.makim-complex.yaml
  tests/smoke/.makim-env.yaml
  tests/smoke/.makim-simple.yaml
  tests/smoke/.makim-unittest.yaml
  tests/smoke/.makim-vars.yaml
  tests/smoke/.makim-working-directory-absolute-path.yaml
  tests/smoke/.makim-working-directory-no-path.yaml
  tests/smoke/.makim-working-directory-relative-path.yaml
  tests/smoke/containers/compose.yaml
Due: ruff-format, ruff-linter, mypy, bandit, vulture

chore(release): 1.14.0
  docs/changelog.md
  pyproject.toml
  src/makim/__init__.py
Due: ruff-format, ruff-linter, mypy, bandit, vulture
